export(
getCut,
mapBreak,
SMA,
ADM3,
ADM_feature,
ADM_score,
ADM_segment,
split_probes,
norm_split_dir,
plotADM2,
exampleADM2,
step.test,
bcp,
getRatWeight_old,
bayes.break,
break.log.liks2,
break.CI,
setupGADAgeneral,       
BackwardElimination,
SBL,
parSBL,
ViteR,
vsegment,
WextIextToSegments,
dLRs,
dydLRs,
smugFun,
smapFun,
self,
cnvstate.simple,
getBcmixSmoothClass,
resolve.waves2,
get.wave.form,
merge1,
mergeAll,
hmm.run.func,
states.hmm.func,
segment,
rId1,
rId2,
rSegmentation,
safe,
p.filter,
GADA,
GADA_s,
SMUG,
rbcp,
SMAP,
jspline,
jv.walk,
jv.walk2,
CI.breakpoints,
CI.score,
CI.plot,
consen,
dt.g.wavelet,
wave,
wavef,
wscore,
separator,
pn.signs,
selectHyper,
selectSegment,
dnacopy,
inflfact,
trimmed.variance,
changepoints.prune,
changepoints,
smooth.CNA,
SW.array,
walk,
CNA,
rp,
ws,
QC,
adj.f.t.n,
adj.f.t.n.v2,
adj.novelty,
split_array,
chr_m,
adj.score,
makeGff,
probe_dclumpy,
localp,
mapBreakc,
rangescale,
polyfunction,
weight.algorithms,
weight.algorithms2,
weight.algorithmsP,
weight.algorithmsP_upAl,
weight.algorithmsP1,
weight.algorithms_continous,
weight.algorithms_across_samples,
derive.weights,
derive.weights.independant,
derive.weights.v1,
centralNoiseWeights,
differenceNoiseWeights,
WaveNoiseWeights,
findsegments,
getRatWeight,
getSizeWeight,
costMatrix,
convertFEtoSM,
lowcost.matrix,
lowcost.matrix.rep,
fsegment,
p.scale,
StartCond1,
EMFastCall,
gfct,
PosteriorP,
EStep,
MStep,
MakeData,
DataRecomp,
vcbar,
seglegend,
truncUp,
combin.image,
LabelAss,
CheckZero,
FastCall,
fast,
runAll,
lossGain,
overlap,
overlap2,
overlap3,
freq.overlap,
inData,
make.bpts,
meeting.c.o,
runner,
makeFObs,
mSum,
cSum,
cncpdist,
cncp,
cncnps,
plot.ccnp,
rcncp,
syn.genome,
syn.data,
gap,
gap.depends,
plot.syn,
syn.example,
settings,
settings.default,
settings.v1,
settings.independant,
execute,
execute.default,
execute.normalise,
execute.algorithms,
execute.combine,
execute.dddpipe
)

importFrom(utils, data)
exportClasses("segmentation")
S3method(summary,BackwardElimination)

